@font-face {font-family: Google sans; src: url('fonts/GoogleSans-Regular.ttf');}
@font-face { font-family: Google sans; font-weight: bold; src: url('fonts/GoogleSans-Bold.ttf');}
/* @font-face { font-family: Google sans; font-weight: italic; src: url('fonts/GoogleSans-Italic.ttf');} */


body{
    font-family:'Google sans';
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(#1F1F2B, rgb(22, 13, 20)); */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#1F1F2B), to(#0f0b0f)) fixed; */
    /* background: #1F1F2B ; */
    animation: appear 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}